In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib widget

In [8]:
xlpath = '/Users/trose/Data/temp/LGNexperiments.xlsx' #fast disk (local ssd for s2p binary files)
xlpath = 'C:\\temp\data\LGNexperiments.xlsx' #fast disk (local ssd for s2p binary files)

### read excel file into panda dataframe

In [9]:
df = pd.read_excel(xlpath, index_col=0)

### split comments column into Layer and elevation columns

In [10]:
df[['Layer', 'Elevation']] = df.comments.str.rsplit(',', expand = True)

### drop mixed column

In [11]:
df = df.drop(['comments'], axis=1)

### example boolean combination of two search strings

In [12]:
df[(df['experiment type'] == 'euler' ) & (df['Layer'] == 'L1')]

,experiment,folder,matching group,experiment type,L1-L4 group,Unnamed: 7,Layer,Elevation
mouse,,,,,,,,
DL_191024_6,62287,I:\David Laubender\Data\imaging data\DL_191024...,2,euler,1,NaN,L1,negative degrees
DL_191024_6,62293,I:\David Laubender\Data\imaging data\DL_191024...,4,euler,2,NaN,L1,positive degrees
DL_191024_6,62309,I:\David Laubender\Data\imaging data\DL_191024...,5,euler,3,NaN,L1,zero degrees
DL_191024_6,62361,I:\David Laubender\Data\imaging data\DL_191024...,7,euler,2,NaN,L1,positive degrees
DL_191024_6,62364,I:\David Laubender\Data\imaging data\DL_191024...,8,euler,3,NaN,L1,zero degrees
DL_191024_4,62260,I:\David Laubender\Data\imaging data\DL_191024...,10,euler,4,NaN,L1,negative degrees
DL_191024_4,62268,I:\David Laubender\Data\imaging data\DL_191024...,12,euler,5,NaN,L1,zero degrees
DL_191106_1,62352,I:\David Laubender\Data\imaging data\DL_191106...,14,euler,6,meh,L1,negative degrees
DL_191106_2,62339,I:\David Laubender\Data\imaging data\DL_191106...,16,euler,7,NaN,L1,zero degrees
DL_191106_2,62358,I:\David Laubender\Data\imaging data\DL_191106...,17,euler,8,NaN,L1,negative degrees
DL_191106_2,62403,I:\David Laubender\Data\imaging data\DL_191106...,20,euler,9,meh,L1,positive degrees
DL_191106_2,62379,I:\David Laubender\Data\imaging data\DL_191106...,21,euler,9,meh,L1,positive degrees
DL_191106_2,62382,I:\David Laubender\Data\imaging data\DL_191106...,22,euler,7,NaN,L1,zero degrees
DL_191106_4,62303,I:\David Laubender\Data\imaging data\DL_191106...,24,euler,10,NaN,L1,zero degrees
DL_191106_4,62321,I:\David Laubender\Data\imaging data\DL_191106...,26,euler,11,meh,L1,positive degrees
DL_191106_4,62367,I:\David Laubender\Data\imaging data\DL_191106...,27,euler,10,NaN,L1,zero degrees
DL_191106_4,62370,I:\David Laubender\Data\imaging data\DL_191106...,28,euler,11,NaN,L1,positive degrees

### select data like this

In [13]:
load_df = df[(df['experiment type'] == 'euler' ) & (df['Layer'] == 'L1')]

In [14]:
load_df.head()

,experiment,folder,matching group,experiment type,L1-L4 group,Unnamed: 7,Layer,Elevation
mouse,,,,,,,,
DL_191024_6,62287,I:\David Laubender\Data\imaging data\DL_191024...,2,euler,1,NaN,L1,negative degrees
DL_191024_6,62293,I:\David Laubender\Data\imaging data\DL_191024...,4,euler,2,NaN,L1,positive degrees
DL_191024_6,62309,I:\David Laubender\Data\imaging data\DL_191024...,5,euler,3,NaN,L1,zero degrees
DL_191024_6,62361,I:\David Laubender\Data\imaging data\DL_191024...,7,euler,2,NaN,L1,positive degrees
DL_191024_6,62364,I:\David Laubender\Data\imaging data\DL_191024...,8,euler,3,NaN,L1,zero degrees

In [27]:
load_df[['experiment', 'folder']]

             experiment                                             folder
mouse
DL_191024_6       62287  I:\David Laubender\Data\imaging data\DL_191024...
DL_191024_6       62293  I:\David Laubender\Data\imaging data\DL_191024...
DL_191024_6       62309  I:\David Laubender\Data\imaging data\DL_191024...
DL_191024_6       62361  I:\David Laubender\Data\imaging data\DL_191024...
DL_191024_6       62364  I:\David Laubender\Data\imaging data\DL_191024...
DL_191024_4       62260  I:\David Laubender\Data\imaging data\DL_191024...
DL_191024_4       62268  I:\David Laubender\Data\imaging data\DL_191024...
DL_191106_1       62352  I:\David Laubender\Data\imaging data\DL_191106...
DL_191106_2       62339  I:\David Laubender\Data\imaging data\DL_191106...
DL_191106_2       62358  I:\David Laubender\Data\imaging data\DL_191106...
DL_191106_2       62403  I:\David Laubender\Data\imaging data\DL_191106...
DL_191106_2       62379  I:\David Laubender\Data\imaging data\DL_191106...
DL_191106_2       62382  I:\David Laubender\Data\imaging data\DL_191106...
DL_191106_4       62303  I:\David Laubender\Data\imaging data\DL_191106...
DL_191106_4       62321  I:\David Laubender\Data\imaging data\DL_191106...
DL_191106_4       62367  I:\David Laubender\Data\imaging data\DL_191106...
DL_191106_4       62370  I:\David Laubender\Data\imaging data\DL_191106...

In [ ]:
sns.distribution