In [78]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib widget

In [79]:
xlpath = '/Users/trose/Data/temp/LGNexperiments.xlsx' #fast disk (local ssd for s2p binary files)

In [80]:
df = pd.read_excel(xlpath, index_col=0)

print("Column headings:")
print(df.columns)

Column headings:
Index(['experiment', 'folder', 'matching group', 'comments', 'experiment type',
       'L1-L4 group', 'comment'],
      dtype='object')

In [81]:
df.head()

,experiment,folder,matching group,comments,experiment type,L1-L4 group,comment
mouse,,,,,,,
DL_191024_6,62282,I:\David Laubender\Data\imaging data\DL_191024...,1,"L4, negative degrees",RF,1,NaN
DL_191024_6,62283,I:\David Laubender\Data\imaging data\DL_191024...,1,"L4, negative degrees",grating,1,NaN
DL_191024_6,62284,I:\David Laubender\Data\imaging data\DL_191024...,1,"L4, negative degrees",euler,1,NaN
DL_191024_6,62285,I:\David Laubender\Data\imaging data\DL_191024...,2,"L1, negative degrees",RF,1,NaN
DL_191024_6,62286,I:\David Laubender\Data\imaging data\DL_191024...,2,"L1, negative degrees",grating,1,NaN

In [82]:
df[['Layer', 'Elevation']] = df.comments.str.rsplit(',', expand = True)

In [83]:
df = df.drop(['comments'], axis=1)