In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib widget

In [ ]:
xlpath = '/Users/trose/Data/temp/LGNexperiments.xlsx' #fast disk (local ssd for s2p binary files)

### read excel file into panda dataframe

In [ ]:
df = pd.read_excel(xlpath, index_col=0)

### split comments column into Layer and elevation columns

In [ ]:
df[['Layer', 'Elevation']] = df.comments.str.rsplit(',', expand = True)

### drop mixed column

In [ ]:
df = df.drop(['comments'], axis=1)

### example boolean combination of two search strings

In [ ]:
df[(df['experiment type'] == 'euler' ) & (df['Layer'] == 'L1')]

### select data like this

In [111]:
load_df = df[(df['experiment type'] == 'euler' ) & (df['Layer'] == 'L1')]

In [112]:
load_df.head()

,experiment,folder,matching group,experiment type,L1-L4 group,comment,Layer,Elevation
mouse,,,,,,,,
DL_191024_6,62287,I:\David Laubender\Data\imaging data\DL_191024...,2,euler,1,NaN,L1,negative degrees
DL_191024_6,62293,I:\David Laubender\Data\imaging data\DL_191024...,4,euler,2,NaN,L1,positive degrees
DL_191024_6,62309,I:\David Laubender\Data\imaging data\DL_191024...,5,euler,3,NaN,L1,zero degrees
DL_191024_6,62361,I:\David Laubender\Data\imaging data\DL_191024...,7,euler,2,NaN,L1,positive degrees
DL_191024_6,62364,I:\David Laubender\Data\imaging data\DL_191024...,8,euler,3,NaN,L1,zero degrees

In [117]:
load_df.folder[1]

'I:\\David Laubender\\Data\\imaging data\\DL_191024_6\\ImagingData\\2019-12-04'